.navbar{
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    padding: 0 40px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}
.logo{
    width: 150px;
    height: auto;
    cursor: pointer;
}
ul{
    flex: 1;
    list-style: none;
    display:flex;
    justify-content: flex-end;
    align-items: center;
    gap: 25px;
    margin: 0;
    padding: 0;

}
ul li{
    
}
ul li a{
    text-decoration: none;
    font-size: 22px;
    color: #333;
    font-family: 'playfair display',sans-serif;
    transition: 0.3s ease;
    padding: 8px 12px;
    border-radius: 5px;
}
ul li a:hover{
    background-color: #f0f0f0;
    color: #93DA97;
}
navbar li:first-child{
  margin-right: auto;
  
}
.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 98vh;
    width: 220px;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0,0.1);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.sidebar li {
    width: 100%;
}
.sidebar a{
    width: 100%;
}